<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简历文件</title>
</head>
<body>
<h1>图片，视频等</h1>

<!--<h1 id="msg" style="color:red" th:text="${msg}"></h1>-->
<form action="/file/insert" method="post">
    id:<input type="text" name="id">
    路径:<input type="text" name="filePath">
    <input type="submit" value="上传路径">
</form>
<form action="/file/findById" method="post">
    id:<input type="text" name="id">
    <input type="submit" value="查看简历">
</form>

<a href="@{/file/findById}">点击我
</a>
</body>
</html>