<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/css/swiper.css">
    <link rel="stylesheet" href="../../../static/css/css.css">
</head>
<body>
<!------------轮播图------------->
<div class="swiper-container" id="001">
    <div class="swiper-wrapper"></div>
    <div class="swiper-pagination "></div>
</div>
<div>
    <input type="text" name="id"/>
</div>
</body>
<script src="../../../static/js/swiper.js">

</script>
<script src="../../../static/js/jquery-1.11.3.js"></script>
<script src="../../../static/js/ajax.js">

</script>
</html>